@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

#heading {
    text-align: center;
    font-size: 2rem;
}

.instructions {
    font-size: 1.2rem;
}

.current {
    font-size: 1.4rem;
    font-weight: normal;
}

.player {
    font-weight: bold;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

#reset{
    display: flex;
    width: 10rem;
    text-decoration: none;
    border: 1px solid red;
    background-color: rgb(223, 47, 27);
    color: white;
    font-size: 1.2rem;
    margin: 20px auto;
    justify-content: center;
    border-radius: 2rem;
}

.cell {
    display: flex;
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    cursor: pointer;
    font-size: 5vw;
    justify-content: center;
    line-height: 10vw;
}

@media (max-width: 600px){
    body {
        padding: 0;;
    }

    .instructions, .current {
        font-size: 1rem;
    }

    .cell {
        width: 20vw;
        height: 20vw;
        font-size: 10vw;
        line-height: 20vw;
    }
}